.register-container-2 {
    position: relative;
    display:grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10%;
  }

.content-container img{
  width: 100%;
}


