services:
  springboot-app:
    container_name: SpringBoot-Auth-ms
    build:
      context: ./auth-java-component  
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=cincopatodos
    ports:
      - "8080:8080"
  db:
    container_name: PostgreSQL-db
    ports:
      - 5432:5432
    image: postgres:13.21-alpine3.20    
    restart: unless-stopped
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=cincopatodos
    volumes:
      - ./dbPostgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
