/* Estilos generales para el contenedor del producto y productos relacionados */
.contenedor-1 {
  display: flex;
  flex-direction: column; 
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  background-color: #0057b300;
  font-family: var(--font-text);
}

/* Estilos generales para el producto */
.producto-detalle {
  display: flex; 
  max-width: 1200px;
  width: 100%; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-inline: 20px;
  background-color: white;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .producto-detalle {
    flex-direction: column; 
    width: 90%; 
    margin-top: 50px; 
  }
}

/* Estilos para la imagen del producto */
.producto-imagen-det {
  width: 100%; 
  max-width: 100%; 
  margin: auto;
  align-items: center;
  height: auto;
}

.producto-imagen-det img {
  width: 100%; 
  height: auto; 
  display: block; 
  border-radius: 10px;
}

/* Estilos para la información del producto */
.producto-informacion-det {
  width: calc(100% - 80px); 
  margin-left: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
  text-align: left;
  border-radius: 15px;
  align-items: center;
  background-color: white;
  transform: 200px;
}

.producto-informacion-det:hover {
  box-shadow: 0 0 10px rgba(22, 69, 25, 0.5);
  transform: translateY(-5px); 
  transition: transform 0.3s, box-shadow 0.3s; 
}

@media (max-width: 768px) {
  .producto-informacion-det {
    width: calc(100% - 20px); 
    margin-left: 0; 
  }
}

/* Estilos para el nombre del producto */
.producto-nombre-det {
  font-family: var(--font-text) ;
  font-size: clamp(2.3vw, 5vw, 1.5rem); 
  font-weight: bold;
  line-height: 1.1; 
  color: #33784a;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

/* Estilos para la descripción del producto */
.producto-descripcion-det {
  font-size: clamp(1vw, 2.8vw, 1rem); 
  line-height: 1.5; 
  color: #666;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: justify;
}

/* Estilos para la sección de compra */
.producto-compra-det {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-size: clamp(1.3vw, 2.8vw, 1rem);
  font-weight: bold;
  text-align: center;
  color: #b38b5b;
}

.cantidad-det {
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #33784a;
}

.producto-compra-det label {
  display: block;
  margin-bottom: 5px;
}

.producto-compra-det input[type="number"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}

/* Estilos para el precio del producto */
.producto-precio-det {
  font-size: clamp(1vw, 2.8vw, 1rem);
  font-weight: bold;
  color: #EB6613;
  margin-top: 5px;
  text-align: center;
}

/* Estilos para el botón de agregar al carrito */
.btn-carrito-det {
  background-color: #33784a;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: clamp(0.8rem, 1vw, 1.3rem);
  margin: 10px auto; /* Agrupa los márgenes */
  transition: background-color 0.3s;
  margin: 5px auto;
  margin-left: 15px;
  text-decoration: none;
}

.btn-seguir-det {
  display: inline-block; 
  padding: 1.1vw 2.5vw;
  border-radius: 2rem; 
  font-size: clamp(0.8rem, 1.2vw, 1.3rem); 
  font-weight: 500;
  color: white;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: #EB6613;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */

  /* Animación al pasar el cursor */
  animation: pulse 1s infinite alternate; 
}

/* Definición de la animación 'pulse' */
@keyframes pulse {
  from {
    transform: scale(0.75); /* Escala normal */
  }
  to {
    transform: scale(0.8); /* Escala aumentada */
  }
}

/* Cambio de color al pasar el cursor */
.btn-seguir-det:hover {
  background-color: #a7845f; 
}

.btn-carrito-det:hover {
  background-color: #9e6523; 
}

.producto-imagen-det {
  animation: fadeInRight 1s ease-in-out 0.2s forwards;
}

.producto-informacion-det {
  animation: fadeInLeft 1s ease-in-out 0.4s forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Estilos para la sección de productos relacionados */
.productos-relacionados {
  margin-top: 2rem;
  background-color: #F5F5F5;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.productos-titulo {
  font-family: var(--font-family-text);
  font-weight: bold;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: #39884d;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.producto-item {
  border: none;
  padding: 1rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  background-color: #fff; /* Fondo blanco para los items */
}

.producto-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.producto-imagen {
  height: 150px;
  border-radius: 10px;
  object-fit: contain;
}

.producto-nombre {
  font-family: var(--font-text);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #39884d;
  text-decoration: none;
}

.producto-descripcion {
  font-family: var(--font-text);
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: #666;
}

.producto-precio {
  font-family: var(--font-text);
  font-size: 1.1rem;
  font-weight: bold;
  color: #d7540b;
}

/* Ajustes de diseño responsivo */
@media (min-width: 768px) {
  .productos-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
