.contenedor-1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-block: 50px;
    background-color: #0057b300;
    font-family: var(--font-text);
    
  }

  /* Estilos generales para el producto */
.producto-detalle-carrito {
    display: flex; /* Distribución horizontal con flexbox */
    max-width: 1200px;
    width: 100%; /* Ancho relativo */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-inline: 20px;
   background-color: white;
  }

  .producto-detalle-carrito table {
    margin: 0 auto !important; /* Centra la tabla horizontalmente */
  }
  
  /* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .producto-detalle-carrito {
        flex-direction: column; /* Cambia la dirección del flexbox a vertical */
        width: 90%; /* Ancho relativo */
        margin-top: 50px; /* Reducción del margen superior */
    }
  }

   /* Estilos para la información del producto */
.producto-informacion-carrito {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra difusa */
    text-align: left;
    border-radius: 15px;
    align-items: center;
    background-color: white;
  
  transform: 200px;
  }
  .producto-informacion-carrito:hover {
  box-shadow: 0 0 10px rgba(22, 69, 25, 0.5);
    transform: translateY(-5px); /* Efecto al pasar el mouse */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
  }
  
  @media (max-width: 768px) {
    .producto-informacion-carrito {
        width: calc(100% - 20px); /* Reducir el ancho en pantallas pequeñas */
        margin: auto;
        
       
    }
  }

  .producto-imagen-det {
    animation: fadeInRight 1s ease-in-out 0.2s forwards;
  }
  
  .producto-informacion-carrito {
    animation: fadeInLeft 1s ease-in-out 0.4s forwards;
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }




.info-productos{
    margin: auto;
    width: 100%;
    margin-top: 30px;
    display: flex; /* Utilizamos flexbox para alinear elementos */
    flex-wrap: wrap; /* Permitimos que los elementos se envuelvan en filas */
    justify-content: space-around; /* Distribución uniforme de los elementos */
  
}

.descripcion-carrito{
  font-family: var(--font-text) ;
  font-size: clamp(2vw, 5vw, 1.5rem); 
  font-weight: bold;
  line-height: 1.1; 
  color: #337841;
  margin-bottom: 35px;
  margin-top: 10px;
  text-align: center;
 
}

/* Estilos para la tabla principal--------------------- */
/* Elimina la propiedad border en la regla tr */
tr {
  border: none; /* Elimina el borde de las filas */
}

/* Establece el borde solo en la parte inferior de las filas */
tr td {
  border-bottom: 1px solid #d0c4c4cd; /* Borde inferior de las celdas */
}

/* Agrega un borde en la parte inferior del encabezado de la tabla */
.table-head th {
  border-bottom: 2px solid #d0c4c4cd; /* Borde inferior del encabezado */
}

.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border: 1px solid #d0c4c4cd;
  border-radius: 15px;
  width: 100%;
}

th,
td {
  padding: 15px;
  text-align: left;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: clamp(1vw, 2.8vw, 1.1rem);
  color: #337841;
}

th {
  font-family: var(--font-text);
  padding: 15px;
  text-align: left;
  color: #666;
  font-size: clamp(1vw, 2.8vw, 1.3rem);
}

.precio-producto {
  color: #eb6613;
  font-weight: normal;
}

.cantidad-producto {
  color: #b38b5b;
  text-align: center;
}

.subtotal-producto {
  color: #eb6613;
  font-weight: normal;
}

tr:hover {
  background-color: #eef3eefb;
}

/* Estilos para la imagen del producto */
.producto-informacion-carrito img {
  max-width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 50px;

  animation: fadeInRight 1s ease-in-out 0.2s forwards;
}

  

/* Estilos para input de cantidad */
#cantidad-det {
  width: 3em;
  font-weight: bold;
  text-align: center;
  min-height: 35px;
  border-color: #dbd3d3c7;
  color: #b38b5b;
}



/* Estilos para tabla subtotal y total--------------------- */
.segunda-tabla-contenedor {
  width: 45%; /* Ancho del contenedor de la segunda tabla */
  margin: 15px auto 15px; /* Centra el contenedor de la segunda tabla */
}

@media (max-width: 768px) {
  .segunda-tabla-contenedor {
    width: 100%; /* Ajusta el ancho al 100% en pantallas pequeñas */
    bottom: 0;
    left: 0;
    margin-top: 20px; /* Agrega margen superior en pantallas pequeñas */
  }
}

.titulo-total-carrito {
  font-family: var(--font-text) ;
  font-size: clamp(1.5vw, 5vw, 1rem); 
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #d0c4c4cd;
}


.subtotal-carrito{
  color: #337841;
  font-size: clamp(1vw, 2.8vw, 1.2rem);
  border: 1px solid #d0c4c4cd; /* Borde inferior del encabezado */
  border-right: none;
}

.precios-carrito{
  color: #EB6613;
  font-size: clamp(1vw, 2.8vw, 1.2rem);
  border: 1px solid #d0c4c4cd; /* Borde inferior del encabezado */
  border-left: none;
}

.total-carrito .total {
  font-size: 18px;
  font-weight: bold;
  color: #090909; /* Color de acento para el total */
}






/* Estilos para el botón de compra (continuación) */

.contenedor-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 10px;
  width: 100%;


}

.btns-compra-carrito {
  display: inline-block; 
  padding: 0.5vw 1.5vw;
  border-radius: 2rem; 
  font-size: clamp(1rem, 1.3vw, 1.15rem);
  font-weight: 500;
  color: white;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: #EB6613;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  animation: pulse 1s infinite alternate; /* Aplica la animación 'pulse' de 1 segundo de duración, infinitamente y de manera alternada */
}

/* Definición de la animación 'pulse' */
@keyframes pulse {
  from {
    transform: scale(0.85); /* Escala normal */
  }
  to {
    transform: scale(0.9); /* Escala aumentada */
  }
}

/* Cambio de color al pasar el cursor */
.btns-compra-carrito:hover {
  background-color: #a7845f; /* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para la eliminación de productos */
.producto-informacion-carrito .eliminar {
color: #dc3545; /* Color rojo para la eliminación */
font-size: 16px;
cursor: pointer;
}

.producto-informacion-carrito .eliminar:hover {
color: #c82333; /* Color rojo más oscuro al pasar el mouse */
}

/* Estilos para la tabla de compra total */
.total {
width: 50%;

}

.wallet-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
