/* Paleta de colores personalizada */
:root {
    --primary-color: #007bff;
    --primary-hover: #0056b3;
    --background-color: #f8f9fa;
    --text-color: #333;
    --error-color: #dc3545;
    --base-color: #c8ae89;
    --second-color: #968979;
    --border-color: #646460;
    --input-color: #edededf0;
}

body {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('../img/loginBckg.jpg') no-repeat center center;
    background-size:cover;
    opacity: 0.3; /* Adjust opacity as needed */
    z-index: 0;
    pointer-events: none;
}
    
#register-container {
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 40px 30px;
  max-width: 400px;
  width: 100%;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  z-index: 1;
  position: relative;
}

/* Estilo del logo */
#register-container img {
  display: block;
  margin: 0 auto 20px;
  max-width: 55%;
  height: auto;
}

/* Botón de login */
#btnLogin {
  margin-top: 20px;
  background-color:var(--base-color);
  border-color:var(--base-color);
  color:#333;
}

#btnLogin:hover{
  background-color: var(--border-color);
  color:var(--background-color);
}

/* Estilo para el selector de conjunto */
#complex {
  background-color: var(--input-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: var(--text-color);
  width: 100%;
}

#complex:focus {
  outline: none;
  border-color: var(--base-color);
  box-shadow: 0 0 5px rgba(200, 174, 137, 0.3);
}

/* Estilo para las opciones del select */
#complex option {
  background-color: white;
  color: var(--text-color);
  padding: 5px;
}

/* Enlaces */
#link2, #link-register {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  color: var(--border-color);
  text-decoration: none;
}

#link2:hover, #link-register:hover {
  text-decoration: underline;
}

/* Spinner oculto por defecto */
.spinner-border {
  display: none;
  margin-left: 8px;
}
/* Fondo blanco para el formulario */
#register-container {
  background: #ffffff;
  color: #000000;
}

/* Estilo del contenedor relativo para el campo de contraseña */
.position-relative {
  position: relative;
}

/* Estilo del ícono para mostrar/ocultar contraseña */
.password-toggle {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 70%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}


