.preguntas-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
    gap: 20px; /* Espacio entre los elementos */
    width: 90%; /* Deja un espacio de 5% a cada lado */
    margin: 40px auto; /* Espacio arriba y abajo */
}

.pregunta {
    cursor: pointer;
    border-radius: 10px; /* Esquinas redondeadas */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.pregunta-titulo {
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pregunta-titulo:hover {
    background-color: #2b803f;
    color: white;
}

.pregunta-respuesta {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fafafa;
}

.titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Hacer responsivo el diseño */
@media (max-width: 768px) {
    .preguntas-container {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        width: 100%; /* Ajusta para pantallas pequeñas */
        padding: 0 5%; /* Agrega un poco de espacio lateral */
    }

    .pregunta-titulo,
    .pregunta-respuesta {
        font-size: 14px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }
}

.h1{text-align: center;}